<a href="https://colab.research.google.com/github/timothy-hippo/20230205-python/blob/main/20230304.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 20230304筆記

## 抓取網頁原始碼

從非Ajax網頁上抓取資料，可以直接看到資料

### 使用requests

In [ ]:
import requests

In [ ]:
url = 'https://victorgau.github.io/khpy_web_intro/spy.html'

In [ ]:
r = requests.get(url)

In [ ]:
print(r.text)

<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <title>HTML範例</title>
</head>
<body>
  <div class="container">
    <h1>SPY股價</h1>
  </div>
    <div class="container">
<table border="1" class="dataframe table table-striped">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Open</th>
      <th>High</th>
      <th>Low</th>
      <th>Close</th>
      <th>Adj Close</th>
      <th>Volume</th>
    </tr>
    <tr>
      <th>Date</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>2021-07-26</th>
      <td>439.309998</td>
      <td>441.029999</td>
      <td>439.260010</td>
      <td>441.019989</td>
      <td>441.019989</td>
      <td>43719200</td>
    </tr>
    <tr>
      <th>2021-07-27</th>
      <td>439.910004</td>
      <td>439.940002</td>
      <td>435.989990</td>
      <td>439.010010</td>
      <td>439.010010</td>
      <td>67397100</td>
    </tr>
    <tr>
      <th>2021-07-28</th>
      <td>439.679993</td>
      <td>440.299988</td>
      <td>437.309998</td>
      <td>438.829987</td>
      <td>438.829987</td>
      <td>52472400</td>
    </tr>
    <tr>
      <th>2021-07-29</th>
      <td>439.820007</td>
      <td>441.799988</td>
      <td>439.809998</td>
      <td>440.649994</td>
      <td>440.649994</td>
      <td>47435300</td>
    </tr>
    <tr>
      <th>2021-07-30</th>
      <td>437.910004</td>
      <td>440.059998</td>
      <td>437.769989</td>
      <td>438.510010</td>
      <td>438.510010</td>
      <td>68890600</td>
    </tr>
    <tr>
      <th>2021-08-02</th>
      <td>440.339996</td>
      <td>440.929993</td>
      <td>437.209991</td>
      <td>437.589996</td>
      <td>437.589996</td>
      <td>58783300</td>
    </tr>
    <tr>
      <th>2021-08-03</th>
      <td>438.440002</td>
      <td>441.279999</td>
      <td>436.100006</td>
      <td>441.149994</td>
      <td>441.149994</td>
      <td>58053900</td>
    </tr>
    <tr>
      <th>2021-08-04</th>
      <td>439.779999</td>
      <td>441.119995</td>
      <td>438.730011</td>
      <td>438.980011</td>
      <td>438.980011</td>
      <td>46732200</td>
    </tr>
    <tr>
      <th>2021-08-05</th>
      <td>440.220001</td>
      <td>441.850006</td>
      <td>439.880005</td>
      <td>441.760010</td>
      <td>441.760010</td>
      <td>38969700</td>
    </tr>
    <tr>
      <th>2021-08-06</th>
      <td>442.100006</td>
      <td>442.940002</td>
      <td>441.799988</td>
      <td>442.489990</td>
      <td>442.489990</td>
      <td>46864100</td>
    </tr>
  </tbody>
</table>

</div>
</body>
</html>

### 使用Pandas

In [ ]:
import pandas as pd

In [ ]:
# 回傳網頁中的Table的List，因此要讀第一筆Table要在後面加[0]
df_list = pd.read_html(url)[0]['Close']

In [ ]:
print(df_list)

   Unnamed: 4_level_1
0          441.019989
1          439.010010
2          438.829987
3          440.649994
4          438.510010
5          437.589996
6          441.149994
7          438.980011
8          441.760010
9          442.489990

## 抓取Ajax的網頁

從Ajax網頁上抓取資料，無法直接看到資料

In [ ]:
url = 'https://victorgau.github.io/khpy_web_intro/spy_ajax.html'

In [ ]:
r = requests.get(url)

In [ ]:
print(r.text)

<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>AJAX範例</title>
</head>
<body>
  <div class="container">
    <h1>SPY股價</h1>
  </div>
  <div class="container">
    <table border="1" class="dataframe table table-striped">
        <thead>
          <tr style="text-align: right;">
            <th></th>
            <th>Open</th>
            <th>High</th>
            <th>Low</th>
            <th>Close</th>
            <th>Adj Close</th>
            <th>Volume</th>
          </tr>
          <tr>
            <th>Date</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody id="spy">

        </tbody>
    </table>
  </div>

  <script type="text/javascript">
    $(document).ready(function(){
        $.ajax({
            url: "spy.json",
            dataType: 'json',
            type: 'get',
            cache:false,
            success: function(data){
                // console.log(data);
                var event_data = '';
                $.each(data, function(index, value){
                    // console.log(value);
                    event_data += '<tr>';
                    event_data += '<th>'+value.Date+'</th>';
                    event_data += '<td>'+value.Open+'</td>';
                    event_data += '<td>'+value.High+'</td>';
                    event_data += '<td>'+value.Low+'</td>';
                    event_data += '<td>'+value.Close+'</td>';
                    event_data += '<td>'+value['Adj Close']+'</td>';
                    event_data += '<td>'+value.Volume+'</td>';
                    event_data += '</tr>';
                });
                $("#spy").append(event_data);
            },
            error: function(d){
                // console.log("error");
                alert("404. Please wait until the File is Loaded.");
            }
        });
    });
    </script>


</body>
</html>

如果要抓Ajax的資料，就要發送取得JSON的路徑

### 取得requests

In [ ]:
url = 'https://victorgau.github.io/khpy_web_intro/spy.json'

In [ ]:
r = requests.get(url).json()

In [ ]:
print(r)

[{'Date': '2021-07-26', 'Open': 439.309998, 'High': 441.029999, 'Low': 439.26001, 'Close': 441.019989, 'Adj Close': 441.019989, 'Volume': 43719200}, {'Date': '2021-07-27', 'Open': 439.910004, 'High': 439.940002, 'Low': 435.98999, 'Close': 439.01001, 'Adj Close': 439.01001, 'Volume': 67397100}, {'Date': '2021-07-28', 'Open': 439.679993, 'High': 440.299988, 'Low': 437.309998, 'Close': 438.829987, 'Adj Close': 438.829987, 'Volume': 52472400}, {'Date': '2021-07-29', 'Open': 439.820007, 'High': 441.799988, 'Low': 439.809998, 'Close': 440.649994, 'Adj Close': 440.649994, 'Volume': 47435300}, {'Date': '2021-07-30', 'Open': 437.910004, 'High': 440.059998, 'Low': 437.769989, 'Close': 438.51001, 'Adj Close': 438.51001, 'Volume': 68890600}, {'Date': '2021-08-02', 'Open': 440.339996, 'High': 440.929993, 'Low': 437.209991, 'Close': 437.589996, 'Adj Close': 437.589996, 'Volume': 58783300}, {'Date': '2021-08-03', 'Open': 438.440002, 'High': 441.279999, 'Low': 436.100006, 'Close': 441.149994, 'Adj Close': 441.149994, 'Volume': 58053900}, {'Date': '2021-08-04', 'Open': 439.779999, 'High': 441.119995, 'Low': 438.730011, 'Close': 438.980011, 'Adj Close': 438.980011, 'Volume': 46732200}, {'Date': '2021-08-05', 'Open': 440.220001, 'High': 441.850006, 'Low': 439.880005, 'Close': 441.76001, 'Adj Close': 441.76001, 'Volume': 38969700}, {'Date': '2021-08-06', 'Open': 442.100006, 'High': 442.940002, 'Low': 441.799988, 'Close': 442.48999, 'Adj Close': 442.48999, 'Volume': 46864100}]

### 使用Pandas

In [ ]:
df_list = pd.read_json(url)

In [ ]:
df_list

,Date,Open,High,Low,Close,Adj Close,Volume
0,2021-07-26,439.309998,441.029999,439.260010,441.019989,441.019989,43719200
1,2021-07-27,439.910004,439.940002,435.989990,439.010010,439.010010,67397100
2,2021-07-28,439.679993,440.299988,437.309998,438.829987,438.829987,52472400
3,2021-07-29,439.820007,441.799988,439.809998,440.649994,440.649994,47435300
4,2021-07-30,437.910004,440.059998,437.769989,438.510010,438.510010,68890600
5,2021-08-02,440.339996,440.929993,437.209991,437.589996,437.589996,58783300
6,2021-08-03,438.440002,441.279999,436.100006,441.149994,441.149994,58053900
7,2021-08-04,439.779999,441.119995,438.730011,438.980011,438.980011,46732200
8,2021-08-05,440.220001,441.850006,439.880005,441.760010,441.760010,38969700
9,2021-08-06,442.100006,442.940002,441.799988,442.489990,442.489990,46864100

## 剖析網頁原始碼

Requests 用於發送請求

BeautifulSoup 用於剖析原始碼

In [ ]:
str = """

<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <title>範例索引</title>
</head>
<body>
    <div class="container">
        <div class="row my-5">
            <div class="col">
                <h1 class="bg-warning p-3 rounded">Web及爬蟲簡介課程範例</h1>

                <ul class="list-group">
                    <li class="list-group-item"><i class="bi bi-globe"></i> <a href="html_only.html">HTML 範例</a></li>
                    <li class="list-group-item"><i class="bi bi-globe"></i> <a href="html_css.html">HTML + CSS 範例</a></li>
                    <li class="list-group-item"><i class="bi bi-globe"></i> <a href="html_css_javascript.html">HTML + CSS + Javascript 範例</a></li>
                    <li class="list-group-item"><i class="bi bi-bug"></i> <a href="example01.html">example01.html (爬蟲抓取用範例)</a></li>
                    <li class="list-group-item"><i class="bi bi-bug"></i> <a href="example02.html">example02.html (爬蟲抓取用範例)</a></li>
                    <li class="list-group-item"><i class="bi bi-bug"></i> <a href="example03.html">example03.html (爬蟲抓取用範例)</a></li>
                    <li class="list-group-item"><i class="bi bi-bug"></i> <a href="example04.html">example04.html (爬蟲抓取用範例)</a></li>
                    <li class="list-group-item"><i class="bi bi-bug"></i> <a href="example05.html">example05.html (爬蟲抓取用範例)</a></li>
                    <li class="list-group-item"><i class="bi bi-bug"></i> <a href="spy.html">Classic HTML 範例 (爬蟲抓取用範例)</a></li>
                    <li class="list-group-item"><i class="bi bi-bug"></i> <a href="spy_ajax.html">Ajax 範例 (爬蟲抓取用範例)</a></li>
                    <li class="list-group-item"><i class="bi bi-bug"></i> <a href="form_get.html">HTTP GET 方法說明</a></li>
                    <li class="list-group-item"><i class="bi bi-bug"></i> <a href="form_post.html">HTTP POST 方法說明</a></li>
                </ul>         
            </div>
    
        </div>
    </div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>"""

### 透過BeautifulSoup抓取網頁標籤

In [ ]:
from bs4 import BeautifulSoup

In [ ]:
soup = BeautifulSoup(str)

#### h1

In [ ]:
soup.h1

In [ ]:
soup.h1.text

'Web及爬蟲簡介課程範例'

#### li

如果有多個標籤，取得標籤屬性會是第一個標籤的內容

In [ ]:
soup.li

若要一次取得所有標籤，要透過selsect取得

#### select

In [ ]:
soup.select('li')

[<li class="list-group-item"><i class="bi bi-globe"></i> <a href="html_only.html">HTML 範例</a></li>,
 <li class="list-group-item"><i class="bi bi-globe"></i> <a href="html_css.html">HTML + CSS 範例</a></li>,
 <li class="list-group-item"><i class="bi bi-globe"></i> <a href="html_css_javascript.html">HTML + CSS + Javascript 範例</a></li>,
 <li class="list-group-item"><i class="bi bi-bug"></i> <a href="example01.html">example01.html (爬蟲抓取用範例)</a></li>,
 <li class="list-group-item"><i class="bi bi-bug"></i> <a href="example02.html">example02.html (爬蟲抓取用範例)</a></li>,
 <li class="list-group-item"><i class="bi bi-bug"></i> <a href="example03.html">example03.html (爬蟲抓取用範例)</a></li>,
 <li class="list-group-item"><i class="bi bi-bug"></i> <a href="example04.html">example04.html (爬蟲抓取用範例)</a></li>,
 <li class="list-group-item"><i class="bi bi-bug"></i> <a href="example05.html">example05.html (爬蟲抓取用範例)</a></li>,
 <li class="list-group-item"><i class="bi bi-bug"></i> <a href="spy.html">Classic HTML 範例 (爬蟲抓取用範例)</a></li>,
 <li class="list-group-item"><i class="bi bi-bug"></i> <a href="spy_ajax.html">Ajax 範例 (爬蟲抓取用範例)</a></li>,
 <li class="list-group-item"><i class="bi bi-bug"></i> <a href="form_get.html">HTTP GET 方法說明</a></li>,
 <li class="list-group-item"><i class="bi bi-bug"></i> <a href="form_post.html">HTTP POST 方法說明</a></li>]

In [ ]:
for i, x in enumerate(soup.select('li')):
  print('{} => {}'.format(i, x.text))

0 =>  HTML 範例
1 =>  HTML + CSS 範例
2 =>  HTML + CSS + Javascript 範例
3 =>  example01.html (爬蟲抓取用範例)
4 =>  example02.html (爬蟲抓取用範例)
5 =>  example03.html (爬蟲抓取用範例)
6 =>  example04.html (爬蟲抓取用範例)
7 =>  example05.html (爬蟲抓取用範例)
8 =>  Classic HTML 範例 (爬蟲抓取用範例)
9 =>  Ajax 範例 (爬蟲抓取用範例)
10 =>  HTTP GET 方法說明
11 =>  HTTP POST 方法說明

## Requests & BeautifulSoup

In [ ]:
url = 'https://victorgau.github.io/khpy_web_intro/'

In [ ]:
r = requests.get(url)

In [ ]:
soup = BeautifulSoup(r.text)

In [ ]:
soup.select('li')

[<li class="list-group-item"><i class="bi bi-globe"></i> <a href="html_only.html">HTML 範例</a></li>,
 <li class="list-group-item"><i class="bi bi-globe"></i> <a href="html_css.html">HTML + CSS 範例</a></li>,
 <li class="list-group-item"><i class="bi bi-globe"></i> <a href="html_css_javascript.html">HTML + CSS + Javascript 範例</a></li>,
 <li class="list-group-item"><i class="bi bi-bug"></i> <a href="example01.html">example01.html (爬蟲抓取用範例)</a></li>,
 <li class="list-group-item"><i class="bi bi-bug"></i> <a href="example02.html">example02.html (爬蟲抓取用範例)</a></li>,
 <li class="list-group-item"><i class="bi bi-bug"></i> <a href="example03.html">example03.html (爬蟲抓取用範例)</a></li>,
 <li class="list-group-item"><i class="bi bi-bug"></i> <a href="example04.html">example04.html (爬蟲抓取用範例)</a></li>,
 <li class="list-group-item"><i class="bi bi-bug"></i> <a href="example05.html">example05.html (爬蟲抓取用範例)</a></li>,
 <li class="list-group-item"><i class="bi bi-bug"></i> <a href="spy.html">Classic HTML 範例 (爬蟲抓取用範例)</a></li>,
 <li class="list-group-item"><i class="bi bi-bug"></i> <a href="spy_ajax.html">Ajax 範例 (爬蟲抓取用範例)</a></li>,
 <li class="list-group-item"><i class="bi bi-bug"></i> <a href="form_get.html">HTTP GET 方法說明</a></li>,
 <li class="list-group-item"><i class="bi bi-bug"></i> <a href="form_post.html">HTTP POST 方法說明</a></li>]

## 抓取露天拍賣資料

In [ ]:
url = 'https://rapi.ruten.com.tw/api/items/v2/list?gno=22015417513236,21736053476093,21834540027365,22252898212564,21649700396670,22308079245013,22237329689878,22210123712597,21745320986478,21306054256587,21613325935853,21944761460105,21703145841781,22005260221068,22237311162987,21604762628879,11090408564918,22248786322714,22245652943789,21847062459479,22014410658733,22235203989858,21943528063496,22234178253166,21108171499407,22145904454224,11090511060868,22115760677048,22309095665265,21914719498937,22250853459858,21937798322575,21306054810707,22243585104714,22150490437805,22228721266684,22225501810435,21452083528392,21212032019014,22123942782204,22202790617075,22304948341987,22301911238282,21210044997885,22219992217859,21303231597758,22305966056251,22246693701046,21644175207627,22246694136319,22237321147868,22238387197068,22237329105848,22150476031225,21311130319049,21937841464199,22213383362151,22238385165049,21111097173441,11090929553588&level=simple'

因為露天有反爬蟲，所以要在headers中的屬性user-agent將值改為瀏覽器名稱

告訴伺服器說發送請求的是瀏覽器而不是應用程式

來避免露天擋爬蟲

In [ ]:
headers = {'user-agent':'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/110.0.0.0 Safari/537.36'}

In [ ]:
r = requests.get(url, headers=headers).json()

In [ ]:
for i in r['data']:
  print(f"{i['name']}: {i['goods_price']}元")

現貨 雙頻 600M 免驅動 5G 天線 台灣瑞昱 迷你網卡 USB 無線網卡 WIFI發射 WIFI接收器 無線AP: 249元
【高靈敏降噪收音！送收納包】vlog拍攝收音 3.5mm 領夾式 錄音麥克風 電腦麥克風手機收音麥克風 小蜜蜂麥克風: 219元
國聯租賃-實體店面-含稅發票 日本原裝 CANARE 4S8 經典 喇叭線  4蕊 入門線材首選: 70元
換車自售2012年Mazda 馬5 七人座(Crv Escape RAV4 KUGA i-max wish M7參考): 180000元
【eWhat億華】 Sony Distagon T* SAL 24mm F2 SSM 【SAL24F20Z】特價出清平輸: 14540元
☆卡卡夫☆23年7月預購(取付免訂金)代理版 GSC 黏土人 HUNTER x HUNTER 獵人 奇犽 再版 0324: 1160元
【普雷伊-桃園】現貨免運★附特典【PS5人中之龍 維新！極 中文版】2023/2/22預計發售45#: 1590元
makita 牧田 通用款6 英寸 8000W 電動鋸修剪鏈鋸花園樹木伐木修剪鋸木工切割機 電動工具: 1798元
刀劍神域 SAO 動漫PU長夾 拉鍊長皮夾 亞絲娜 桐人二款 可放證件夾零錢包 非短夾皮包 卡位多 磁扣 相片 生日禮物: 330元
★波爾桌球★ STIGA CLIPPER WOOD 經典拍 ( 代理商公司貨, 免運費): 1900元
HFC M1911 CO2直壓槍 雙匣版 (BB槍BB彈玩具槍短槍氣動槍.45手槍1911 M1911 M1943: 1580元
（限量）Hoya 咖啡 三合一  二合一（整箱專區）: 1880元
【Aromase艾瑪絲】 5α高效控油洗髮精400mL-高階版: 135元
GoGoLife-網布480D連身塑身背心 塑身背心塑身衣修身衣無痕高彈性透氣網布 托胸機能束衣 束腰收腹美型: 260元
【台灣現貨 A205】韓系鯊魚夾 抓夾 鯊魚夾 韓國髮飾 韓國髮夾 後腦勺髮夾 彩色磨砂大鯊魚夾 長方形縷空鯊魚夾: 13元
【雙口袋腰包】升級版隱形防水貼身防扒防竊防盜高彈性運動雙拉鍊腰包戶外運動登山騎車跑步旅遊慢跑☆精品社: 29元
10英吋軟水樹脂濾心6支.水族館養殖.觀賞魚軟水除氯除垢淨水器.過濾器濾水器貨號:9038【七星淨水】: 360元
『櫻華奇想』(代訂) 日文全彩漫畫 シオンコネクト【みちきんぐ】附錄：ASMR音聲: 1020元
(店舖特典版代購)22110786 孤獨搖滾 團結樂團 FULL 專輯「結束バンド」期間生產限定盤: 1540元
煥賣玩意＃【電影DM宣傳品】賣場華爾滋(3): 5元
《 J.ST 》瑞士水鬼Tevise 簡約日月星期顯示鏤空背面陀飛輪自動機械錶手錶男錶【TV9005F】聖誕節情人節禮物: 890元
《偷心聊法1.0+2.0》| 搭訕大師TV | 柯李思Chris | 良叔 | 影片集 || PUA線上課程||泡妞把妹: 799元
Twitter 推特純手工創建 全新台灣IP註冊 通過信箱手機驗證認證 女帳號 可自訂另可代收手機簡訊驗證碼: 10元
【三峽緯嘉】Intel I7-3770 CPU 1155腳位: 1150元
三星 25W 原廠快速充電組 快充頭 傳輸線 A52 S20 S20FE NOTE10 NOTE20 Ultra S21: 99元
「🇹🇼台灣小米原廠公司貨」小米延長線 米家魔方延長線 延長線 電源延長線 USB充電器 延長線插座 插頭延長線台灣版: 345元
隔音棉 高密度 1公分厚 隔熱棉、吸音棉 　隔音綿　隔音毯/制震墊/吸音綿 隔音婂引擎蓋/底盤裝潢/輕隔間/輕鋼架通用: 150元
Panasonic 國際牌 eneloop 2100次 4號AAA  3號AA 1.2V 日本 充電電池 收納盒 充電器: 85元
《豬帽子✬超取免訂金》預購7月 FuRyu 景品 刀劍神域 BiCute 兔女郎 莉法 高28公分 0312: 530元
【全新未拆】任天堂 SWITCH NS 交響傳奇 TALES OF SYMPHONIA REMASTERED 中文版台中: 99990元
正品威爾剛  持久可搭 男用持久 延時: 750元
【JOY小舖】 皮帶 寬版頭層牛皮針扣式皮帶 真皮皮帶 啞色合金扣頭 腰帶 皮帶 寬版針扣式皮帶 100%頭層牛皮: 380元
★波爾桌球★ 乒乓世界桌球專用膠水 (有機膠): 120元
民族風 掛繩織帶 四層餐籃 附收納袋 方型餐籃 折疊籃 碗籃 網籃 餐櫥籃 吊籃 曬籃 鳥籠 餐具 瀝乾網架 餐網籃: 390元
買3送1挺立關鍵迷你錠挺立UC-II非變性第二型膠原蛋白90錠買二免運正品: 230元
大明 空膠囊 100顆/包 食用膠囊 透明膠囊 有色膠囊  0號／1號／2號／3號／4號 多種規格 顏色隨機 非素食膠囊: 20元
【紫色星球】長褲 九分褲 瑜珈褲 運動褲 內搭褲【K1176】皮褲 塑身褲 棉褲 彈力褲 拉長腿型 壓力褲 休閒褲: 199元
超柔不透明開襠絲襪/連身褲襪美腿絲襪 OL必備顯瘦襪子 各式性感睡衣情趣內衣角色扮演服美配件 情人節禮物流行E線B396: 199元
10MM加厚型 真豚皮乳膠鞋墊 KM: 99元
紅牛 草莓/巧克力/全脂/果汁牛奶奶粉/香蕉牛奶奶粉1kg 40G隨身包 (沖泡奶粉) 調味奶粉 隨手包: 240元
[現貨新品] AV女優 美乃すず/美乃雀 寫真集 優美 豪華愛蔵版: 2290元
代訂 milet INTO THE MIRROR 藍光 + 特典B2海報: 1940元
進藤あまね 1st寫真集 進藤天音 BanG Dream D4DJ Hibiki 響 愛美 相羽 Morfonica: 1385元
【夏天必備汽車降溫】汽車遮陽簾 車用遮陽 磁吸式遮陽簾 遮陽簾 汽車防曬 汽車紗窗 車用遮陽簾 遮陽 防蚊 簡易安裝: 59元
『古早雜貨店』台灣製6發虎尾煙火，早期台灣製古早味花炮煙火，連珠炮萬頭炮電光炮大龍炮排炮，蜂炮玩具煙火懷舊老件古董: 180元
台塑益生菌 舒暢益生菌(30包/盒)、正貨品、現貨、快速出貨: 360元
呆呆熊 Windows win 10 11 Office 2021 2019 序號 usb隨身碟 迷你 電腦 筆電 主機: 120元
【現貨帶保固】原廠Apple豆腐頭 iPhone豆腐頭 iphone充電器 iphone頭 18W 20W: 129元
【BEST】全新現貨 日本LUXMAN P-750u MARK II 耳機擴大機: 72800元
《台灣現貨 10秒速充打氣機》 無線電動打氣機 輪胎快速打氣 預設胎壓 緊急照明【VR040793】: 790元
【Xiaomi 智慧攝影機 標準版 2K】⚡️台灣公司 現貨⚡️快速出貨⚡小米攝影機2K 1296P⚡️智慧攝影機2K: 680元
【怨念事務所】預約商品 5月(免訂金) Solarain Toys 蘆毛醬 Lucky Dealer 原畫栗毛馬 1/7: 3980元
【普雷伊-桃園】預購★免運費【PS4 零～月蝕的假面～ 中文版】2023/3/9預計發售60#: 1590元
岡本保險套 okamoto 001 002 輕薄系列 003極薄 威猛持久 超薄 大尺碼 skinles 衛生套 潤滑液: 249元
【CS衣舖．0871】42-50腰大尺碼 素色 彈性伸縮 多口袋 側口袋 純黑休閒褲 工作褲 黑褲 087172: 450元
效期在商品描述內 現貨 當天寄出 SIS GO 能量果膠 馬拉松 長跑 鐵人三項 單車 運動補給品: 46元
【KUI】美國真品 5.11 Maverick 1.75吋 戰術腰帶 類浪人腰帶『黑色、沙色、RG色』56664: 4911元
宏都拉斯 亞馬 希望之歌小農 水洗藝伎 *野薑花芳香【每包500公克】【興田咖啡生豆】: 470元
RO純水機75加侖304不銹鋼腳架體積小不佔空間淨水器濾水器咖啡機餐飲業. NO:1759【七星淨水: 3999元
╭＊水手服專賣店＊╯南投國立   中興國中    夏季制服 運動服(全新品.可挑尺寸): 1600元

## 抓取政府電子採購網資料

In [ ]:
url = 'https://web.pcc.gov.tw/prkms/tender/common/basic/readTenderBasic?firstSearch=true&searchType=basic&orgName=&orgId=&tenderName=&tenderId=&tenderType=TENDER_DECLARATION&tenderWay=TENDER_WAY_ALL_DECLARATION&dateType=isDate&tenderStartDate=2023%2F02%2F26&tenderEndDate=2023%2F03%2F04'

In [ ]:
dfs = pd.read_html(url, encoding='utf-8')

In [ ]:
dfs[4]['機關名稱']

0                    衛生福利部
1                   國立成功大學
2                 花蓮縣環境保護局
3                海洋國家公園管理處
4             屏東縣屏東市公館國民小學
5                 國立陽明交通大學
6          台灣電力股份有限公司協和發電廠
7                 嘉義縣大埔鄉公所
8        行政院農業委員會水土保持局南投分局
9             國防部軍備局生產製造中心
10                臺中市梧棲區公所
11                桃園市楊梅區公所
12            高雄市政府客家事務委員會
13                嘉義縣大埔鄉公所
14           行政院農業委員會農田水利署
15                南投縣集集鎮公所
16                臺北市政府工務局
17                臺南市政府文化局
18                   南投縣政府
19                  高雄醫學大學
20            桃園市立羅浮高級中等學校
21            國防部軍備局生產製造中心
22                花蓮縣豐濱鄉公所
23            經濟部水利署北區水資源局
24                嘉義市政府消防局
25     國立臺灣大學醫學院附設醫院癌醫中心分院
26                花蓮縣立南平中學
27          台灣糖業股份有限公司虎尾糖廠
28      行政院農業委員會林務局東勢林區管理處
29       行政院農業委員會水土保持局臺中分局
30       行政院農業委員會水土保持局臺中分局
31              桃園市政府客家事務局
32                高雄市立中醫醫院
33              交通部臺灣鐵路管理局
34            臺北市士林區雨農國民小學
35                  國立聯合大學
36                高雄市政府水利局
37        台灣電力股份有限公司花蓮區營業處
38    台灣中油股份有限公司煉製事業部桃園煉油廠
39             臺北市泉源實驗國民小學
40                新北市政府採購處
41           臺北市政府工務局水利工程處
42           臺北市政府工務局水利工程處
43              臺北市立龍山國民中學
44                國立傳統藝術中心
45                  連江縣消防局
46              臺北市立龍山國民中學
47                臺北市政府主計處
48            桃園市立壽山高級中等學校
49              臺北市立大同高級中學
Name: 機關名稱, dtype: object

## 讀取政府資料開放平台實價登錄資料

e.g.:

https://data.kcg.gov.tw/dataset/d7bfc353-1617-42d8-a0e3-3cd2d99edb10/resource/20387f3d-6970-40a4-86f0-a5c33546e75d/download/111q2.csv

In [ ]:
url = "https://ws.fund.gov.tw/Download.ashx?u=LzAwMS9VcGxvYWQvOC9yZWxmaWxlLzExODExLzE5MjIzL2UxYWMwYTZhLWY5MTMtNDU2NC1hYjY1LTZjNjE2Njk4MTFlYi5jc3Y%3d&n=6YCA5pKr5Z%2b66YeR5bm05bqm57aT54ef5qaC5rOBLmNzdg%3d%3d"

In [ ]:
df = pd.read_csv(url, encoding='BIG5')

In [ ]:
df.head()

     年度           基金運用結餘數             整體收益數  整體收益率
0  2012  509,350,502,236    29,811,132,854    6.17
1  2013  553,686,669,011    42,768,224,587    8.30
2  2014  586,523,738,615    35,646,340,940    6.50
3  2015  565,325,731,882   -10,876,820,099   -1.94
4  2016  570,109,758,528    23,693,114,405    4.29

### 將 DataFrame 轉存成不同格式

In [ ]:
df.to_excel('實價登錄資料.xlsx')

In [ ]:
df.head(100).to_html('實價登錄前一百筆資料.html')

In [ ]:
df.head(100).to_json('實價登錄前一百筆資料.json')

## 檔案的IO

檔案可以分成文字檔和二進位檔

### 文字檔

在Python寫入檔案，有兩種方式

一般做法
```Python
f = open('檔案名稱.txt', mode='w')
f.write(寫入內容)
f.close()
```

代替做法
```Python
with open('檔案名稱.txt', mode='w') as f:
  f.write(寫入內容)
```

### 二進位檔

例如圖片, excel檔等

二進位要用rb或wb

rb、wb：分別於r,w類似，但是用於讀寫二進制文件

一般做法
```Python
f = open('檔案名稱.jpg', mode='wb')
f.write(寫入內容)
f.close()
```

代替做法
```Python
with open('檔案名稱.jpg', mode='wb') as f:
  f.write(寫入內容)
```

### 抓取網頁原始碼並存成文字檔

In [ ]:
url = 'https://victorgau.github.io/khpy_web_intro/html_only.html'

In [ ]:
r = requests.get(url)

In [ ]:
with open('index.html', 'w') as f:
  # 原始碼要用text讀取
  f.write(r.text)

### 抓取網頁圖片並存成圖片檔

In [ ]:
url = 'https://victorgau.github.io/khpy_web_intro/ninja.jpg'

In [ ]:
r = requests.get(url)

In [ ]:
with open('ninja.jpg', 'wb') as f:
  # 二進位要用content讀取
  f.write(r.content)

## Pandas

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
# 亂數取得30到100的10x4二維陣列
grades = np.random.randint(30, 101, (10, 4))

In [ ]:
grades

array([[99, 59, 92, 64],
       [58, 62, 44, 91],
       [89, 55, 79, 66],
       [38, 56, 52, 36],
       [73, 93, 43, 81],
       [47, 63, 83, 81],
       [71, 46, 71, 66],
       [56, 53, 59, 67],
       [78, 95, 69, 71],
       [95, 98, 96, 67]])

In [ ]:
df = pd.DataFrame(grades)

In [ ]:
# 設定欄名稱
df.columns = ['國文', '數學', '英文', '理化']

In [ ]:
# 設定列的名稱
df.index = ["郭雅惠","陳欣虹","王孟修","李政勇", "陳仲燦","王寧東","楊雅名","藍冰啟","林玉亨","崔承睿"]

### 列出國文不及格的同學

In [ ]:
df[df['國文'] < 60]

     國文  數學  英文  理化
陳欣虹  58  62  44  91
李政勇  38  56  52  36
王寧東  47  63  83  81
藍冰啟  56  53  59  67

### 列出國文和英文都不及格的同學

In [ ]:
df[(df['國文'] < 60) & (df['英文'] < 60)]

     國文  數學  英文  理化
陳欣虹  58  62  44  91
李政勇  38  56  52  36
藍冰啟  56  53  59  67

### 計算總分與平均

In [271]:
df['總分'] = df.sum(axis = 1)

In [276]:
df['平均'] = df[['國文', '數學', '英文', '理化']].mean(axis = 1)

In [277]:
df

     國文  數學  英文  理化   總分     平均
郭雅惠  99  59  92  64  314  78.50
陳欣虹  58  62  44  91  255  63.75
王孟修  89  55  79  66  289  72.25
李政勇  38  56  52  36  182  45.50
陳仲燦  73  93  43  81  290  72.50
王寧東  47  63  83  81  274  68.50
楊雅名  71  46  71  66  254  63.50
藍冰啟  56  53  59  67  235  58.75
林玉亨  78  95  69  71  313  78.25
崔承睿  95  98  96  67  356  89.00

### 排名次

In [283]:
df['名次'] = df['總分'].rank(ascending=False)

In [284]:
df

     國文  數學  英文  理化   總分     平均    名次
郭雅惠  99  59  92  64  314  78.50   2.0
陳欣虹  58  62  44  91  255  63.75   7.0
王孟修  89  55  79  66  289  72.25   5.0
李政勇  38  56  52  36  182  45.50  10.0
陳仲燦  73  93  43  81  290  72.50   4.0
王寧東  47  63  83  81  274  68.50   6.0
楊雅名  71  46  71  66  254  63.50   8.0
藍冰啟  56  53  59  67  235  58.75   9.0
林玉亨  78  95  69  71  313  78.25   3.0
崔承睿  95  98  96  67  356  89.00   1.0

### 輸出成excel

In [278]:
df.to_excel('成績.xlsx')

## 字串格式化

In [ ]:
x = 1
y = 1.23
z = True
w = 'HI'

In [ ]:
print(x, y, z, w, sep='-')

### format

In [ ]:
print('{}-{}-{}-{}'.format(x, y, z, w))

### f-string(3.5+)

In [ ]:
print(f'{x}-{y}-{z}-{w}')

In [ ]:
# 在變數後面加上:數字，表示要將格式調整為幾位數，例如5，表示要將變數前面再多加入4個空白
print(f'{x:5}-{y:7.2f}-{z}-{w}')
print(f'{x:>9}-{y:09.2}-{z}-{w:>10}')

In [ ]:
popularity = [["Language", 2017, 2012, 2007, 2002, 1997, 1992, 1987], 
          ["Java", 1, 2, 1, 1, 15, 0, 0],
          ["C", 2, 1, 2, 2, 1, 1, 1],
          ["C++", 3, 3, 3, 3, 2, 2, 5],
          ["C#", 4, 4, 7, 13, 0, 0, 0],
          ["Python", 5, 7, 6, 11, 27, 0, 0],
          ["Visual Basic .NET", 6, 17, 0, 0, 0, 0, 0],
          ["PHP", 7, 6, 4, 5, 0, 0, 0],
          ["JavaScript", 8, 9, 8, 7, 23, 0, 0],
          ["Perl", 9, 8, 5, 4, 4, 10, 0]]
format_string = "{:<20}  {:>4}  {:>4}  {:>4}  {:>4}  {:>4}  {:>4}  {:>4}"

In [ ]:
for l in popularity: 
  print(format_string.format(l[0], l[1], l[2], l[3], l[4], l[5], l[6], l[7]))

使用*將unpack list ，意思將列表所有資料列出來

In [ ]:
for l in popularity: 
  print(format_string.format(*l))